# Virtual Environment
.venv/
env/
venv/

# Environment Variables & Secrets
.env

# Databases
*.db
qdrant_data/
storage/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Testing files
test*.py
test*.txt
test*.pdf